@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav-margin {
    @apply mt-[88px] 2xl:mt-[72px] md:mt-[64px];
  }

  .sticky-top {
    @apply top-[88px] 2xl:top-[72px] md:top-[64px]
  }

  .body-container {
    @apply h-[95vh] lg:h-[90vh] sm:h-auto sm:min-h-[85vh];
  }

  .text-default-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#2dd451] from-25% to-[#45cddf];
  }

  .custom-scrollbar::-webkit-scrollbar {
    /* width */
    @apply w-2 h-1;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-[#dadada] rounded-2xl;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary-green rounded-lg;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-green;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --primary-fg: #ffffff;
  --primary-bg: #111827;
}

body {
  color: var(--primary-fg);
  background: var(--primary-bg);
}

button,
div,
a {
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
