@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-margin {
    @apply mt-[72px] md:mt-[64px];
  }
}

@layer utilities {
  .text-default-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#2dd451] from-25% to-[#45cddf];
  }
}

:root {
  --primary-fg: #ffffff;
  --primary-bg: #111827;
}

body {
  color: var(--primary-fg);
  background: var(--primary-bg);
}

button,
div,
a {
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swiper-bullet {
  @apply bg-gray-500 p-1 rounded-full cursor-pointer
}

.swiper-bullet-active {
  @apply bg-primary-green p-1 rounded-full cursor-pointer
}