/* width */
#scrollbar::-webkit-scrollbar {
    width: 80%;
    margin: 12px;
    height: 4px;
    border-radius: 8px;
}

/* Track */
#scrollbar::-webkit-scrollbar-track {
    background: #dadada;
    border-radius: 8px;
}

/* Handle */
#scrollbar::-webkit-scrollbar-thumb {
    background: #168b96;
    border-radius: 8px;
}

/* Handle on hover */
#scrollbar::-webkit-scrollbar-thumb:hover {
    background: #186369;
}