/* width */
#scrollbar::-webkit-scrollbar {
    height: 4px;
    border-radius: 8px;
}

/* Track */
#scrollbar::-webkit-scrollbar-track {
    background: #dadada;
    border-radius: 8px;
}

/* Handle */
#scrollbar::-webkit-scrollbar-thumb {
    background: #22c55e;
    border-radius: 8px;
}

/* Handle on hover */
#scrollbar::-webkit-scrollbar-thumb:hover {
    background: #16a34a;
}